body {
    box-sizing: border-box;
    font-family: "Arsenal", sans-serif !important;
    overflow-x: hidden;
  }
/* header */
  svg{
      margin-top:.8rem;
      margin-left: .5rem;
  }
  header {
    background-image: url(../img/banner4.png);
    height: 18rem;
  }
  .caption,h2 {
    padding-top:1.5rem;
    color: white;
    width: 50%;
    margin:0 auto;
    text-align: center; 
    text-shadow: 3px 1px 8px black ;
  }
  section{
      background-image: url(../img/background-danhsach.png);
      text-align: center;
  }
  table{
      width:85% !important;
      margin:0 auto;
      padding-top:2rem;
  }
  th, td{
      border:0 !important;
  }
  thead{
      color: white;
      border:0;
  }
  tbody>tr{
      border:2px solid gray !important;
  }
  tbody{
    background-color: rgb(204, 204, 204,.3) ;
    color: white;
  }
  .img-product{
      width: 5.5rem;
  }
  img{
      width: 100%;
  }
  .fa-star,.fa-star-half{
    color: #feba02;
  }